
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 120px;">
                        <select id="sltKey">
                            <option value="">-搜索条件-</option>
            #foreach($field in ${table.fields})
            #if(!${field.keyFlag} && !${field.name.equals("update_time")}  && !${field.name.equals("updator")} && !${field.name.equals("create_time")} && !${field.name.equals("creator")} && !${field.name.equals("del")})##生成普通字段
                <option value="${field.name}">${field.comment}</option>
            #end
            #end
                    </select>
                    </div>
                    <div class="layui-inline">
                        <input id="edtSearch" class="layui-input" type="text" placeholder="输入关键字"/>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                        <button id="btnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                        <button id="btnExp" class="layui-btn icon-btn"><i class="layui-icon">&#xe67d;</i>导出</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="${table.entityPath}Table" lay-filter="${table.entityPath}Table"></table>
        </div>
    </div>

</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'config'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var config = layui.config;

        form.render('select');
        // 渲染表格
        var ins1 = table.render({
            elem: '#${table.entityPath}Table',
            url: '${table.entityPath}/list',
            page: true,
            cols: [[
                {type: 'checkbox'},{type: 'numbers'},
#foreach($field in ${table.fields})
    #if(!${field.keyFlag}  && !${field.name.equals("update_time")}  && !${field.name.equals("updator")} && !${field.name.equals("create_time")} && !${field.name.equals("creator")} && !${field.name.equals("del")})##生成普通字段
        {field: '${field.propertyName}', sort: true, title: '${field.comment}'},
    #end
#end
                {align: 'center', toolbar: '#tableBar', title: '操作'}
            ]]
        });

        // 添加按钮点击事件
        $('#btnAdd').click(function () {
            showEditModel();
        });

        // 搜索按钮点击事件
        $('#btnSearch').click(function () {
            var key = $('#sltKey').val();
            var value = $('#edtSearch').val();
            table.reload('${table.entityPath}Table', {where: {searchKey: key, searchValue: value}});
        });

        // 工具条点击事件
        table.on('tool(${table.entityPath}Table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            }else if (obj.event === 'del') { //删除
                doDelete(obj);
            }
        });

        // 删除
        function doDelete(obj) {
            var index = top.layer.confirm('确定要删除吗？', function () {
                layer.load(2);
                $.post('${table.entityPath}/delete', {
                    id: obj.data.id
                }, function (data) {
                    top.layer.close(index);
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                });
            });
        }

        // 导出excel
        $('#btnExp').click(function () {
            var checkRows = table.checkStatus('${table.entityPath}Table');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要导出的数据', {icon: 2});
            } else {
                table.exportFile(ins1.config.id, checkRows.data, 'xls');
            }
        });

        // 显示表单弹窗
        function showEditModel(data) {
            admin.putTempData('t_${table.entityPath}', data);
            admin.putTempData('formOk', false);
            top.layui.admin.open({
                type: 2,
                title: data ? '修改${entity}' : '添加${entity}',
                area: ['380px', '392px'],
                offset:'200px',
                content: '${package.ModuleName}/${table.entityPath}/editForm',
                resize:true,
                end: function () {
                    admin.getTempData('formOk') && table.reload('${table.entityPath}Table');  // 成功刷新表格
                }
            });
        }

    });
</script>